*~
/copy/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in~
/config.log
/config.status
/config/compile
/config/config.guess.1
/config/config.sub.1
/configure
/doc/Makefile
/doc/Makefile.in
/intl/Makefile
/man/.deps/
/man/Makefile
/man/Makefile.in
/po/Makefile
/po/Makefile.in
/po/POTFILES
/src/.deps/
/src/Makefile
/src/Makefile.in
/stamp-h1
